---
import freq001 from '../assets/events/freq001.jpg';
import freq002 from '../assets/events/freq002.jpg';
import freq003 from '../assets/events/freq003.jpg';
import freq004 from '../assets/events/freq004.jpg';
import freq005 from '../assets/events/freq005.jpg';
import freq006 from '../assets/events/freq006.jpg';
import freq007 from '../assets/events/freq007.jpg';
import freq008 from '../assets/events/freq008.jpg';
import freq009 from '../assets/events/freq009.jpg';
import { Image } from 'astro:assets';

---
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">

<div id="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-20">  
		<a href="https://facebook.com/events/3558277397658910" class="bg-white p-0 rounded-lg shadow-md">
			<div class="bg-white p-0 rounded-lg shadow-md">
				<div class="aspect-square w-full overflow-hidden">
					<Image 
						src={freq009} 
						alt="Frequency Factory event flyer" 
						width={800} 
						height={800} 
						class="w-full h-full object-cover"
					/>
				</div>
			</div>
		</a>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
				<Image 
					src={freq008} 
					alt="Frequency Factory event flyer" 
					width={800} 
					height={800} 
					class="w-full h-full object-cover"
				/>
            </div>
		</div>
		<div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
				<Image 
					src={freq007} 
					alt="Frequency Factory event flyer" 
					width={800} 
					height={800} 
					class="w-full h-full object-cover"
				/>
            </div>
        </div>
		<div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
				<Image 
					src={freq006} 
					alt="Frequency Factory event flyer" 
					width={800} 
					height={800} 
					class="w-full h-full object-cover"
				/>
            </div>
        </div>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
				<Image 
					src={freq005} 
					alt="Frequency Factory event flyer" 
					width={800} 
					height={800} 
					class="w-full h-full object-cover"
                />
            </div>
        </div>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
                <Image 
                    src={freq004} 
                    alt="Frequency Factory event flyer" 
                    width={800} 
                    height={800} 
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
                <Image 
                    src={freq003} 
                    alt="Frequency Factory event flyer" 
                    width={800} 
                    height={800} 
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
                <Image 
                    src={freq002} 
                    alt="Frequency Factory event flyer" 
                    width={800} 
                    height={800} 
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
        <div class="bg-white p-0 rounded-lg shadow-md">
            <div class="aspect-square w-full overflow-hidden">
                <Image 
                    src={freq001} 
                    alt="Frequency Factory event flyer" 
                    width={800} 
                    height={800} 
                    class="w-full h-full object-cover"
                />
            </div>
        </div>
    </div>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
			'DejaVu Sans Mono', monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
